.wrapper {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1px;
  .teamNameText {
    padding: 15px 0px 15px 18px;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
  }
  .removeTeamIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0px 10px;
  }
}
