.wrapper {
  min-height: 100vh;
  height: content;
  width: 100%;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
}

.staticItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .headerText {
    width: 50%;
    font-size: 38px;
    font-weight: 700;
    color: rgb(102, 101, 101);
  }
  .pointsToWin {
    display: flex;

    .goalLogo {
      font-size: 58px;
      font-weight: 600;
    }
    .goalText {
      font-weight: 600;
      font-size: 44px;
    }
  }
}

.teamsWrapper {
  margin-top: 5px;
  max-height: 13vh;
  overflow: auto;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .roundText {
    font-size: 22px;
    font-weight: 800;
  }
  .readyText {
    padding: 15px 0px;
    font-size: 12px;
    font-weight: 300;
  }
  .nextTeamText {
    font-size: 26px;
    font-weight: 800;
    color: orange;
  }
}

// //******TV******//
// @media (min-width: 1201px) {
// }
// //*********************//

// //******DeskTop******//
// @media screen and (min-width: 1024px) and (max-width: 1200px) {
// }
// //*********************//

//******Laptops******//
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .staticItems {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .headerText {
      width: 50%;
      font-size: 38px;
      font-weight: 700;
      color: rgb(102, 101, 101);
    }
    .pointsToWin {
      display: flex;

      .goalLogo {
        font-size: 58px;
        font-weight: 600;
      }
      .goalText {
        font-weight: 600;
        font-size: 44px;
      }
    }
  }
}
//*********************//

//******Tablets******//
@media screen and (min-width: 481px) and (max-width: 768px) {
  .staticItems {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .headerText {
      width: 50%;
      font-size: 38px;
      font-weight: 700;
      color: rgb(102, 101, 101);
    }
    .pointsToWin {
      display: flex;

      .goalLogo {
        font-size: 58px;
        font-weight: 600;
      }
      .goalText {
        font-weight: 600;
        font-size: 44px;
      }
    }
  }
}
//*********************//

//******Mobile******//
@media screen and (min-width: 320px) and (max-width: 480px) {
  .staticItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    .headerText {
      width: 50%;
      font-size: 38px;
      font-weight: 700;
      color: rgb(102, 101, 101);
    }
    .pointsToWin {
      display: flex;

      .goalLogo {
        font-size: 58px;
        font-weight: 600;
      }
      .goalText {
        font-weight: 600;
        font-size: 44px;
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .roundText {
      text-align: center;

      font-size: 18px;
      font-weight: 800;
    }
    .readyText {
      padding: 15px 0px;
      font-size: 12px;
      font-weight: 300;
    }
    .nextTeamText {
      text-align: center;

      font-size: 22px;
      font-weight: 800;
      color: orange;
    }
  }
}
//*********************//
